@charset "ISO-8859-1";

/*	Conteneurs globaux	*/
body{
	background: url(../img/bckg.png);
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.0em;
}
div#site{
	width: 960px;
	margin-left:auto;
	margin-right:auto;
}


/*	Bannière du site	*/
div#banner{
	background: #0C243E;
	margin-bottom: 20px;
	height: 92px;
}
div#banner img#text {
	float: right;
}


/*	Menus de navigation	*/
dl.menu{
	float: left;
	clear: left;
	margin-top: 0px;
	margin-bottom: 20px;
	background: #EED498;
	width: 130px;
	padding: 4px;
}
dl.menu dt{
	color: white;
	font-size: 0.8em;
	font-style: italic;
	background: url(../img/menu/section_bckg.png);
	margin-bottom: 4px;
	padding: 2px;
}
dl.menu dd{
	font-size: 0.8em;
	margin-left: 0px;
	margin-bottom: 4px;
	display: list-item;
	list-style-position: inside;
	list-style-image: url(../img/menu/puce.png);
}
dl.menu dd input{
	font-size: 0.8em;
	width: 100px;
}
dl.menu dd:hover{
	list-style-image: url(../img/menu/puce_hover.png);
}
dl.menu dd a{
	color: black;
	text-decoration: none;
}
dl.menu dd a:hover{
	text-decoration: underline;
}


/*	Contenu des pages	*/
div#content{
	float: right;
	width: 790px;
	border: double 4px #6D3A04;
	background: #EED498;
	min-height: 650px;
}
div#content img#decor{
	float: right;
	margin-top: -60px;
	margin-right: -46px;
}
div#content ul#tree{
	margin: 2px 2px 20px 2px;
	padding-left: 4px;
	list-style-position: inside;
	list-style-image: url(../img/menu/tree_separator.png);
	background-image: url(../img/menu/section_bckg.png);
	vertical-align:middle;
	height: 20px;
}
div#content ul#tree li{
	float: left;
	color: white;
	font-size: 0.8em;
	margin-right: 10px;
	margin-top: 1px;
}
div#content ul#tree li a{
	text-decoration: none;
	color: white;
}
div#content ul#tree li a:hover{
	text-decoration: underline;
}